*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1e1e1e;
}

a{
    text-decoration: none;
    color: white;
}

.nav-bar{
    height: 10%;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
}

.nav-title{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-list{
    height: 100%;
    width: 40%;
    color: white;

    display: flex;

}

.list{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.links{
    padding: 10px;
    border-radius: 10px;
}

.links:hover{
    background-color: grey;
    color: black;


}


.drop-nav-list{
    height: 100%;
    width: 40%;
    color: white;
    display: none;

}

.drop-list{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}



.drop-links{
    padding: 10px;
    border-radius: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;

    margin-left: 28px;
    margin-top: 10px;
    height: 60px;
    width: 65px;

}

.nav-logo img {
    width: 80px;

    margin-right: 10px;

}

.nav-logo h2 {
    margin: 0;
    font-size: 20px;
}

.search-container{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.search-container h2{
    color: white;
    margin-top: 47px;
    margin-bottom: 47px;
}

.input-container{
    background-color: white;
    border-radius: 8px;
}

.actor-search,
.movie-search{
    text-align: center;
    height: 40px;
    width: 240px;
    border-radius: 8px;
    border: none;
    outline: none;
}


i{
    margin-right: 20px;
}

.card-container{
    height: 60%;
    display: flex;
    gap: 88px;
    align-items: center;
    justify-content: space-evenly;
}

.movie-card{
    height: 227px;
    width: 166px;
    border: 1px solid black;
}

.movie-image{
    height: 227px;
    width: 166px;
}

.actor-image{
    height: 227px;
    width: 166px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.hamburger:hover{
    background-color: grey;
}


@media (min-width: 952px) and (max-width: 1239px){
    .movie-image{
        height: 220px;
        width: 150px;
    }

    .card-container{
        gap: 60px;
    }
}


@media (min-width: 769px) and (max-width: 951px){
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }
    
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
    }
    
    .hamburger:hover{
        background-color: grey;
    }

    .card-container{
        flex-wrap: wrap;
        margin-top: 40px;
    }


    
}

@media screen and (max-width: 768px) {
    .nav-bar {
        height: 20%;
    }

    .drop-list {
        display: none;
    }

    .poster-container {
        height:auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        width: auto;
        justify-content: center;
        height: 80;
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
    }

    .nav-logo{
        display: none;
    }

    .card-container{
        flex-direction: column;
        margin-top: 60px;
    }
}

@media screen and (max-width: 480px) {
    .nav-bar {
        height: 165px;
        background-color: black;
        flex-direction: column;    
    }
    .nav-logo {
        display: none;
    }


    .nav-title{
        width: 100%;
    }
    
    .nav-title h2{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .hamburger { 
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .nav-list{
        display:none;
    }

    .drop-nav-list {
        display: none;
        width: auto;
        display: flex;
    }

    .drop-list{
        flex-direction: column;
        display: none;
    }

    .nav-logo img {
        width: 80px;
        height: 90px;
        margin-right: 10px;
    }

}

