*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1e1e1e;
}

.nav-bar{
    height: 10%;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
}

.nav-title{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-list{
    height: 100%;
    width: 40%;
    color: white;

    display: flex;

}

.list{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.links{
    padding: 10px;
    border-radius: 10px;
}

.links:hover{
    background-color: grey;
    color: black;


}

.nav-logo {
    display: flex;
    align-items: center;

    margin-left: 28px;
    margin-top: 10px;
    height: 60px;
    width: 65px;

}

.nav-logo img {
    width: 80px;

    margin-right: 10px;

}

.nav-logo h2 {
    margin: 0;
    font-size: 24px;
}

.poster-container{
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.actor{
    border-radius: 20px;
    height: 400px;
    width: 350px;
    
    background-image: url('assets/20160513_074630_leonardo_dicaprio_24734_13519.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.movie{
    border-radius: 20px;
    height: 400px;
    width: 350px;
    background-image: url('assets/Dark_knight_rises_poster.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category{
    border-radius: 20px;
    height: 400px;
    width: 350px;
    background-image: url('assets/main-movie-genres-film.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actor .actor-button,
.movie .movie-button,
.category .category-button {
    display: none;
    text-align: center;
    padding: 5px;
}

.actor:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; 
}

.actor:hover .actor-button{
    display: inline;
}

.movie:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; 
}

.movie:hover .movie-button{
    display: inline;
}

.category:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; 
}

.category:hover .category-button{
    display: inline;
}



@media (min-width: 952px) and (max-width: 1239px){
    .actor, .movie, .category{
        width: 250px;
    }
}

@media (min-width: 769px) and (max-width: 951px){
    .actor, .movie, .category{
        width: 200px;
    }
}

/* Tablet View (768px and below) */
@media screen and (max-width: 768px) {
    .nav-bar {
        height: 20%;
    }

    .poster-container {
        height:auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        width: auto;
        justify-content: center;
        height: 80;
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
    }

    .actor, .movie, .category {
        height: 300px;
        width: 200px;
        margin-top: 50px;
        margin-left: 0;
    }
}

/* Mobile View (480px and below) */
@media screen and (max-width: 480px) {
    .nav-bar {
        height: 15%;
        background-color: black;
    }

    .poster-container {
        padding-top: 30px
    }

    .actor, .movie, .category {
        height: 250px;
        width: 50%;
        margin: 20px auto;
    }


}