*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1e1e1e;
}

.nav-bar{
    height: 10%;
    background-color: #090808;
    display: flex;
}

.poster-container{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 140px;
}

.actor{
    border-radius: 20px;
    height: 400px;
    width: 300px;
    margin-top: 118px;
    margin-left: 60px;
    background-image: url('assets/20160513_074630_leonardo_dicaprio_24734_13519.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.movie{
    border-radius: 20px;
    height: 400px;
    width: 300px;
    margin-top: 118px;
    background-image: url('assets/Dark_knight_rises_poster.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category{
    border-radius: 20px;
    height: 400px;
    width: 300px;
    margin-top: 118px;
    background-image: url('assets/main-movie-genres-film.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actor .actor-search,
.movie .movie-search,
.category .category-search {
    display: none;
    text-align: center;
}

.actor:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; 
}

.actor:hover .actor-search{
    display: inline;
}

.movie:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; 
}

.movie:hover .movie-search{
    display: inline;
}

.category:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; 
}

.category:hover .category-search{
    display: inline;
}