:root{
    --textFamily: 'Montserrat';
    --fontSize: 20px;
    --radius: 20px;
}

.nav-logo h2 {
    margin: 0;
    font-size: 20px;
}

.search-container{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.search-container h2{
    color: white;
    margin-top: 47px;
    margin-bottom: 47px;
}

.input-container{
    background-color: white;
    border-radius: 8px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}


i{
    margin-right: 20px;
}

.card-container{
    height: 60%;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-evenly;

}



.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.hamburger:hover{
    background-color: grey;
}


.card-container {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-evenly;
}
/* Flip card styling */

.flip-card{
    height: 227px;
    width: 166px;
    perspective: 1000px;
    min-height: 240px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: var(--radius);
}


.flip-card-front {
    background-color: #bbb;
    color: black;
  }

.flip-card-back {
    border: 1px solid black;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #d9d9d9;
}

.flip-card-image {
    height: 100%;
    width: 100%;
    border-radius: var(--radius);
}


.movie-name{
    font-size: 24px;
    font-family: var(--textFamily);
    text-align: center;
}

.movie-description{
    display: -webkit-box;             
    -webkit-line-clamp: 4;            
    -webkit-box-orient: vertical;     
    overflow: hidden;                 
    text-overflow: ellipsis; 
    font-size: 16px;
}

.movie-year{
    font-size: 12px;
}

@media (min-width: 952px) and (max-width: 1239px){
    .movie-image{
        height: 220px;
        width: 150px;
    }

    .card-container{
        gap: 60px;
    }
}


@media (min-width: 769px) and (max-width: 951px){
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }
    
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
    }
    
    .hamburger:hover{
        background-color: grey;
    }

    .card-container{
        flex-wrap: wrap;
        margin-top: 40px;
    }


    
}

@media screen and (max-width: 768px) {


    .nav-bar {
        height: 20%;
    }

    .drop-list {
        display: none;
    }

    .poster-container {
        height:auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        width: auto;
        justify-content: center;
        height: 80;
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
    }

    .nav-logo{
        display: none;
    }

    .card-container{
        flex-direction: column;
        margin-top: 30px;
    }
}


@media screen and (max-width: 480px) {
    .nav-bar {
        height: 165px;
        background-color: black;
        flex-direction: column;    
    }
    .nav-logo {
        display: none;
    }


    .nav-title{
        width: 100%;
    }
    
    .nav-title h2{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .hamburger { 
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .nav-list{
        display:none;
    }

    .drop-nav-list {
        display: none;
        width: auto;
        display: flex;
    }

    .drop-list{
        flex-direction: column;
        display: none;
    }

    .nav-logo img {
        width: 80px;
        height: 90px;
        margin-right: 10px;
    }

}

